@theme {

  /* Fontes */
  --font-inter: "Inter", sans-serif;
  --font-handwriting: "Nanum Pen Script", cursive;

  /* Pesos */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Tamanhos */
  --text-10: 10px;
  --text-11: 11px;
  --text-12: 12px;
  --text-14: 14px;
  --text-15: 15px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-32: 32px;
  --text-40: 40px;
  --text-48: 48px;
  --text-60: 60px;
  --text-80: 80px;

}